[[extend "layout.html"]]
<style>
   /* button, */
    input, optgroup, select, textarea{
    margin: 10px;
    width:100%;
    font-family: inherit;
    font-size: 18px;
    line-height: inherit;
}
</style>
<div id="page-banner-area" class="page-banner-area" style="background-image:url([[=URL('static/images/banner_bg.jpg')]])">
         <!-- Subpage title start -->
         <div class="page-banner-title">
            <div class="text-center">
               <h2>Access</h2>
               <ol class="breadcrumb">
                  <li>
                     <a href="[[=URL('index')]]">Home/</a>
                  </li>
                  <li>
                   hhhh
                  </li>
               </ol>
            </div>
         </div><!-- Subpage title end -->
      </div><!-- Page Banner end -->
      

<div class="container-fluid">
<div class="row justify-content-center">
    <div class="col-xs-10 col-sm-10 col-md-8">
        <div id="web2py_user_form" class="bg-white p-4" style="box-shadow: 0 0 5px #a1a1a1; border-radius:10px; color:#161362;">
            <div class="row justify-content-center">
                <div class="col-xs-10 col-sm-8 col-md-8">
                     <div id="vue">
                          <div class="center columns">
                                <div class="column">
            				    <auth plugins="local,oauth2google,oauth2facebook,oauth2okta"></auth>
            				    </div>
        				  </div>
                     </div>
         </div>
         </div>
      </div>
      </div>
 </div>
      </div>       
      

[[block page_scripts]]
<script src="js/utils.js"></script>
<script src="components/auth.js"></script>
<script>utils.app().start();</script>
[[end]]
