[[extend 'layout.html']]
  
      <div id="page-banner-area" class="page-banner-area" style="background-image:url([[=URL('static/images/banner_bg.png')]])">
         <!-- Subpage title start -->
         <div class="page-banner-title">
            <div class="text-center">
               <h2>Complete Profile</h2>
               <ol class="breadcrumb">
                  <li>
                     <a href="[[=URL('home')]]">Home /</a>
                  </li>
                  <li>
                     <a href="#">Faq</a>
                  </li>
               </ol>
            </div>
         </div><!-- Subpage title end -->
      </div><!-- Page Banner end -->

      <section id="ts-speakers" class="text-dark ts-speakers speaker-classic" style="background-image:url([[=URL('static/images/white_bg.png')]])">
         <div class="container">
            <div class="row justify-content-center">
               
               <div class="col-lg-6 col-sm-10">
                  <div class="sidebar-widgets">
                     <div class="widget asq-form ts-form">
                         [[=form]]
                        <!--form action="#" method="POST"  class="">
                           <input type="text" class="form-control" name="name" placeholder="Your Name" id="ts_contact_name">
                           <input type="email" class="form-control" name="email" placeholder="Your Email" id="ts_contact_email">
                           <textarea name="massage" placeholder="Your Question" id="x_contact_massage" class="form-control message-box"
                              cols="30" rows="10"></textarea>
                           <div class="ts-btn-wraper">
                              <input type="submit" class="btn" id="ts_contact_submit" value="SEND QUESTION">
                           </div>
                        </form-->
                     </div>
                     
                  </div>
               </div><!-- col end-->

            </div><!-- row end-->
         </div><!-- .container end -->
      </section><!-- End faq section -->


