[[extend 'layout.html']]

      <!-- banner start-->
      <section class="hero-area content-left">
         <div class="banner-item" style="background-image: url([[=URL('static/images/banner6.jpg')]])">
            <div class="container">
               <div class="row">
                  <div class="col-lg-5">
                     <div class="banner-content-wrap">
                        <img class="title-shap-img" src="images/shap/title-white.png" alt="">
                        <h1 class="banner-title wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="700ms">
                           Your better half is yet taken
                        </h1>
                    
                        <p class="blockquote banner-info wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="500ms">5 to 7 June
                           2019, Waterfront Conference,
                           London, United Kingdom
                           <footer class="blockquote">-abdulsalam</footer></p>
                          
                        <!-- Countdown end -->
                        <div class="banner-btn wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="800ms">
                           <a href="[[=URL('auth/register')]]" class="btn">Sign up for free</a>
                        </div>

                     </div>
                     <!-- Banner content wrap end -->
                  </div><!-- col end-->
               </div><!-- row end-->
            </div>
            <!-- Container end -->
         </div>
      </section>
      <!-- banner end-->

      
      